{%  extends "main_base.html" %}

{% block nav %}
  {% url 'experiments' as the_url %}
  {% url 'experiment' experiment_id=experiment.id as this_experiment %}

  <div class="pill"> <a href="{{ the_url }}">Experiments</a> </div>
  <div class="pill"> <a href="{{ this_experiment }}">{{ experiment.name }}</a> </div>
{% endblock %}

{% block content %}
  <div style="flex-grow: 1"></div>
  <div class="panel" style="flex-grow: 15">
    <div class="card">
      <h2 style="text-align: center">Configurations for "{{ experiment.name }}" Experiment</h2>
      {%  for obj in object_list %}
        <div class="highlightable editable">
          <a href="/main/config/{{ obj.id }}">{{ obj.name }}</a>
          <div>
            <a href="/main/clone_config/{{ obj.id }}" class="breath"> <span style="font-size: 20px;"> &#x2398;</span></a>
            <a href="/main/delete_config/{{ obj.id }}" class="breath"> <span style="color: red"> &#x2716;</span></a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="card">
      <div class="highlightable"><a href="/main/new_config/{{ experiment.id }}">Create New Configuration</a></div>
    </div>
  </div>
  <div style="flex-grow: 1"></div>
{% endblock %}
