{%  extends "main_base.html" %}

{% block content %}
    <div class="panel" style="flex-grow: 2">
      <div class="card" style="height: 80vh; display: flex; flex-direction: column; overflow-x: scroll">
        <span style="text-align: center">Experiment: {{ config.experiment.name }}</span>
        <span style="text-align: center">Configuration: {{ config.name }}</span>
        <div style="display: flex; flex-direction: column; flex-wrap: wrap; flex-grow: 1">
        <form action="" method="post"> {% csrf_token %}
          {{ form.errors }}
          {{ form.non_field_errors }}
          {% for field in form%}
            <div>
              <a class="highlightable" href="/main/change_param/{{ field.name }}">{{ field.label }}</a> {{ field }}
            </div>
          {% endfor %}
        <button type="submit">Save</button>
        </form>
        </div>
      </div>
      <div class="card">
        <div class="highlightable"><a href="/main/new_param/{{ config.id }}">Create New Parameter</a></div>
      </div>
    </div>
    <div class="card" style="flex-grow: 1"></div>
{% endblock %}
