{%  extends "main_base.html" %}

{% block content %}
    <div style="flex-grow: 1"></div>
    <div class="panel" style="flex-grow: 15">
      <div class="card">
        <h2 style="text-align: center">Delete "{{ parameter.name }}" Parameter</h2>
        <form action="/main/delete_param/{{ parameter.id }}" method="post">
          {%  csrf_token %}
          {{ form }}
          <button type="'submit" name="delete">Delete</button>
        </form>
      </div>
    </div>
    <div style="flex-grow: 1"></div>
{% endblock %}
