{%  extends "main_base.html" %}

{% block nav %}
  {% url 'experiments' as the_url %}
  {% url 'experiment' experiment_id=config.experiment.id as this_experiment %}
  {% url 'config' config_id=config.id as this_config %}

  <div class="pill"> <a href="{{ the_url }}">Experiments</a> </div>
  <div class="pill"> <a href="{{ this_experiment }}">{{ config.experiment.name }}</a> </div>
  <div class="pill"> <a href="{{ this_config }}">{{ config.name }}</a> </div>
{% endblock %}

{% block content %}
  <form action="" style="display: flex; flex-direction: row; flex-grow: 1" method="post"> {% csrf_token %}
  <div style="height: 85vh; display: flex; flex-direction: row; flex-grow: 1">

    <div class="panel" style="flex-grow: 1">
      <div class="card" style="display: flex; flex-direction: column; flex-grow: 1; overflow-x: scroll">
        <div style="display: flex; flex-direction: column; flex-wrap: wrap; flex-grow: 1">
          <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
            <div class="pill" style="width: 150px; margin-right: 5px;"><a href="/main/new_param/{{ config.id }}">Create New Parameter</a></div>
            <button type="submit" name="save_params">Save</button>
          </div>
          {{ form.errors }}
          {{ form.non_field_errors }}
          {% for field in form %}
            {% if field.name in param_names %}
              <div>
                <a class="highlightable" href="/main/change_param/{{ field.name }}">{{ field.label }}</a> {{ field }}
              </div>
            {%  endif %}
          {% endfor %}
        </div>
      </div>

      <div class="card" style="display: flex; flex-direction: column; height: 150px">
        <div>Notes</div>
{#        <div style="height: 100%">{{ form.notes }}</div>#}
        {{ form.notes }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; ">
      <div class="card" style="flex-grow: 1; flex-basis: 1px; display: flex; flex-direction: column">
      <input type="hidden" name="current_path" value="{{ current_path.as_posix }}"/>

        <div class="pill_container" style="max-width: 400px; margin-bottom: 10px; max-height: 100px; overflow-y: scroll;">
          <div class="pill"> <a href="/main/config/{{ config.id }}">Home</a> </div>
          {% for parent in parents %}
            <div class="pill">
              <a href="/main/config/{{ config.id }}?path_uri={{ parent.as_uri }}">{{ parent.name }}</a>
            </div>
          {% endfor %}

        </div>


        <div style="min-width: 200px; display: flex; flex-direction: column; flex-grow: 1; flex-basis: 1px; overflow-y: scroll">
          {% for entry in entries %}
            <div class="highlightable">
              {% if entry.is_dir %}
                <a class="highlightable" href="/main/config/{{ config.id }}?path_uri={{ entry.as_uri }}">
                  <span class="breathwide">&#128194;</span>{{ entry.name }}
                </a>
              {% elif entry.suffix == '.csv' %}
{#                <a class="highlightable" href="/main/config/{{ config.id }}?path_uri={{ entry.as_uri }}">{{ entry.name }}</a>#}
                <input type="submit" class="link_submitter" name="selected_file" value="{{ entry.name }}"/>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="card" style="display: flex; flex-direction: column; flex-grow: 1" >
        <span style="text-align: center">Tagged Files</span>
        <div style="display: flex; flex-direction: column; flex-grow: 1; overflow-y: scroll">
          {% for file in netcdf_files %}
            <div><a class="highlightable" href="">{{ file.name }}</a> </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </div>
</form>
{% endblock %}
