{%  extends "main_base.html" %}

{% block nav %}
  {% url 'experiments' as the_url %}
  {% url 'experiment' experiment_id=config.experiment.id as this_experiment %}
  {% url 'config' config_id=config.id as this_config %}

  <div class="pill"> <a href="{{ the_url }}">Experiments</a> </div>
  <div class="pill"> <a href="{{ this_experiment }}">{{ config.experiment.name }}</a> </div>
  <div class="pill"> <a href="{{ this_config }}">{{ config.name }}</a> </div>
{% endblock %}

{% block content %}
  <form action="" style="display: flex; flex-direction: row; flex-grow: 1" method="post"> {% csrf_token %}
  <div style="height: 85vh; display: flex; flex-direction: row; flex-grow: 1">

    <div class="panel" style="flex-grow: 1">
      <div class="card" style="display: flex; flex-direction: column; flex-grow: 1; overflow-x: scroll">
        <span style="text-align: center">Experiment: {{ config.experiment.name }}</span>
        <span style="text-align: center">Configuration: {{ config.name }}</span>
        <div style="display: flex; flex-direction: column; flex-wrap: wrap; flex-grow: 1">
          {{ form.errors }}
          {{ form.non_field_errors }}
          {% for field in form%}
            {% if 'params' in field.name %}
              <div>
                <a class="highlightable" href="/main/change_param/{{ field.name }}">{{ field.label }}</a> {{ field }}
              </div>
            {%  endif %}
          {% endfor %}
        <button type="submit" name="save_params">Save</button>
        </div>
      </div>
      <div class="card" style="height: 30px;">
        <div class="highlightable"><a href="/main/new_param/{{ config.id }}">Create New Parameter</a></div>
      </div>

    </div>
    <div style="display: flex; flex-direction: column;">
      <div class="card" style="display: flex; flex-direction: column; flex-grow: 1;">
        <div>CSV: /a/really/long/path/to/the/place/i/want/and/make/it/even/really/longer</div>
        <div>NCDF: /a/really/long/path/to/the/place/i/want/and/make/it/even/really/longer</div>
      </div>
      <div class="card" style="flex-grow: 6; display: flex; flex-direction: column">
        <span style="text-align: center">Input Files</span>


        <div style="display: flex; flex-direction: column; flex-grow: 1; overflow-y: scroll">
          <div>
            <a class="highlightable" href="">aaaaaaaaaaaaassssssssssssaaaaaaaaaaaaaaaaa</a>
          </div>
          <div>
            <a class="highlightable" href="">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
          </div>
        </div>


      </div>
      <div class="card" style="display: flex; flex-direction: column; flex-grow: 6" >
        <span style="text-align: center">Tagged Files</span>
        <div style="display: flex; flex-direction: column; flex-grow: 1; overflow-y: scroll">
          <div>
            <a class="highlightable" href="">aaaaaaaaaaaaassssssssssssaaaaaaaaaaaaaaaaa</a>
          </div>
          <div>
            <a class="highlightable" href="">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
          </div>
        </div>



      </div>

    </div>

  </div>
</form>
{% endblock %}
