{%  extends "main_base.html" %}

{% block nav %}
  <div style="font-size: 1.2em; text-align: center; width: 100%;">{{ csv_file }} &#10144; {{ netcdf_file.name }}</div>
{% endblock %}

{% block content %}
  <form action="" method="post" style="display: flex; flex-grow: 1; flex-direction: row; justify-content: space-around">
    {% csrf_token %}
    <div style="display: flex; flex-grow: 1; flex-direction: column">

      <div style="display: flex; flex-grow: 1; flex-direction: column; padding-left: 20px; padding-right: 20px;" class="card">
        <h2 style="text-align: center">Parameters To Save</h2>
        <div style="display: flex; flex-grow: 1; flex-direction: row">
          <div style="flex-grow: 1; height: 30vh; display: flex; flex-direction: column; flex-wrap: wrap; overflow-x: scroll">
            {% for param in params %}
              <div class="keyval">{{ param.name }} = {{ param.value}}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div style="display: flex; height: 40vh; flex-grow: 1; flex-direction: column; padding-left: 20px; padding-right: 20px;" class="card">
        <h2 style="text-align: center">Notes</h2>
        <textarea readonly style="flex-grow: 1; font-size: inherit">{{ notes }}</textarea>
        <div style="display: flex; flex-direction: row;">
          <input type="hidden" name="config_id" value="{{ config_id }}"/>
          <button type="submit" style="width: 100px; height: 40px; margin: 5px;" name="create">Create NetCDF</button>
          <button type="submit" style="width: 50px; height: 40px; margin: 5px;" name="cancel">Cancel</button>
          {% if will_overwrite %}
            <div style="font-size: 1.5em; font-weight: bold; text-align: center; flex-grow: 1">
              <span style="color: red;">WARNING: </span>Existing file {{ netcdf_file.name }} will be overwritten
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}




